@model Capstone.Models.Email
@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


@*<form class="form-horizontal">
        <fieldset>
            <legend>Legend</legend>
            <div class="form-group">
                <label for="FromName" class="col-lg-2 control-label">Your Name</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="FromName">
                </div>
            </div>
            <div class="form-group">
                <label for="FromEmail" class="col-lg-2 control-label">Your Email</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="FromEmail">
                    <div/>
                </div>
            </div>
            <div class="form-group">
                <label for="Message" class="col-lg-2 control-label">Textarea</label>
                <div class="col-lg-10">
                    <textarea class="form-control" rows="3" id="Message"></textarea>
                    <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
                </div>
            </div>


            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="reset" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </fieldset>
    </form>*@



















<h2 style="margin-top: 50px;">Send your comments</h2>

<br />




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <form class="form-horizontal">
        <fieldset>
            <br />
   
            <div class="form-group">
                @Html.LabelFor(m => m.FromName, new { @class = "col-md-2 control-label" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(m => m.FromName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.FromName)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.FromEmail, new { @class = "col-md-2 control-label" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(m => m.FromEmail, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.FromEmail)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Message, new { @class = "col-md-2 control-label" })
                <div class="col-lg-10">
                    @Html.TextAreaFor(m => m.Message, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Message)
                </div>
            </div>
            <br />

            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="reset" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
            <br />



        </fieldset>
    </form>





    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }


}


